{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- paginate customer.addresses by 5 -%}
  <div class="customer addresses" data-customer-addresses>
    <div class="section-header text-center">
      <h1>{{ 'customer.addresses.title' | t }}</h1>
    </div>

    <div class="row" data-address>
      <div class="col-lg-3 col-md-12 col-sm-12">
        <ul class="myaccount_navigation">
          <li class="navigation-link--dashboard">
            <a href="{{ routes.account_url }}">{{ 'customer.account.dashboard' | t }}</a>
          </li>
          <li class="navigation-link--addresses is-active">
            <a href="{{ routes.account_addresses_url }}">{{ 'customer.account.view_addresses' | t }}</a>
          </li>
          <li class="navigation-link--log_out">{{ 'customer.account.log_out' | t | customer_logout_link }}</li>
        </ul>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12">
        <button aria-controls="AddAddress" aria-expanded="false" class="btn address-new-toggle" type="button">
          {{ 'customer.addresses.add_new' | t }}
        </button>
        <div class="form-vertical" id="AddAddress">
          <h2>{{ 'customer.addresses.add_new' | t }}</h2>
          {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
            <div class="grid">
              <div class="field-wrapper grid__item">
                <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
              </div>
              <div class="field-wrapper grid__item">
                <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
              </div>
            </div>
            <div class="field-wrapper">
              <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
              <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">
            </div>
            <div class="field-wrapper">
              <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
              <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1">
            </div>

            <div class="field-wrapper">
              <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
              <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2">
            </div>
            <div class="grid add-width">
              <div class="field-wrapper grid__item">
                <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
              </div>
              <div class="field-wrapper grid__item focused">
                <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
              </div>
            </div>
            <div class="field-wrapper focused" id="AddressProvinceContainerNew" style="display:none">
              <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
            </div>
            <div class="field-wrapper">
              <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
              <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
            </div>
            <div class="field-wrapper">
              <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
            </div>
            <label class="checkbox-custom" for="address_default_address_new">
              {{ 'customer.addresses.set_default' | t }}
              {{ form.set_as_default_checkbox }}
              <span class="checkmark"></span>
            </label>
            <div class="form-button">
              <div><input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}"></div>
              <div>
                <button class="btn address-new-toggle" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
              </div>
            </div>
            <div>
            {%- endform -%}
          </div>
        </div>
        <ul class="list-address" role="list">
          {%- for address in customer.addresses -%}
            <li data-address>
              <div class="address">
                {%- if address == customer.default_address -%}

                  <h2>{{ 'customer.addresses.default' | t }}</h2>

                {%- endif -%}
                {{ address | format_address }}
              </div>
              <button type="button" id="EditFormButton_{{ address.id }}" class="btn btn-2 btn--small address-edit-toggle" aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}" aria-controls="EditAddress_{{ address.id }}" aria-expanded="false" data-address-id="{{ address.id }}">
                {{ 'customer.addresses.edit' | t }}
              </button>
              <button type="button" class="btn btn-2 btn--small address-delete" aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}" data-target="{{ address.url }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                {{ 'customer.addresses.delete' | t }}
              </button>
              <div id="EditAddress_{{ address.id }}" class="form-vertical edit-address">
                <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
                {%- form 'customer_address', address -%}
                  <div class="grid"> 
                    <div class="field-wrapper grid__item">   
                      <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                      <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                    </div>  
                    <div class="field-wrapper grid__item">  
                      <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>              
                      <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">          
                    </div>  
                  </div>
                  <div class="field-wrapper">
                    
                    <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                    <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization">
                  </div>
                  <div class="field-wrapper">
                    <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                    <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">
                  </div>
                  <div class="field-wrapper">
                    <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                    <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
                  </div>
                  <div class="grid add-width">
                    <div class="field-wrapper grid__item">
                      <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                      <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
                    </div>
                    <div class="field-wrapper grid__item focused">
                      <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                      <select
                        id="AddressCountry_{{ form.id }}"
                        name="address[country]"
                        class="address-country-option"
                        data-address-country-select
                        data-default="{{ form.country }}"
                        data-form-id="{{ form.id }}"
                        autocomplete="country"
                      >
                        {{ all_country_option_tags }}
                      </select>
                    </div>
                  </div>

                  <div class="field-wrapper focused" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                    <label for="AddressProvince_{{ form.id }}">
                      {{ 'customer.addresses.province' | t }}
                    </label>
                    <div class="select">
                      <select
                        id="AddressProvince_{{ form.id }}"
                        name="address[province]"
                        data-default="{{ form.province }}"
                        autocomplete="address-level1"
                      >
                      </select>
                    </div>
                  </div>
                  <div class="grid add-width">
                    <div class="field-wrapper grid__item">
                      <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                      <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                    </div>
      
                    <div class="field-wrapper grid__item">
                      <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                      <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
                    </div>
                  </div>
                  <div class="grid">
                    <div class="grid__item">
                      <label class="checkbox-custom" for="address_default_address_{{ form.id }}">
                        {{ 'customer.addresses.set_default' | t }}
                      {{ form.set_as_default_checkbox }}
                      <span class="checkmark"></span>
                      </label>
                    <div class="form-button">
                      <div><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"></div>
                      <div><button type="reset" class="btn btn-2 address-edit-toggle">{{ 'customer.addresses.cancel' | t }}</button></div>
                    </div>
                  </div>
                {%- endform -%}
              </div>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    {%- if paginate.pages > 1 -%}
      {%- if paginate.parts.size > 0 -%}
          <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
            <ul role="list">
            {%- if paginate.previous -%}
              <li>
                <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"/>
                  </svg>
                </a>
              </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
              <li>
                {%- if part.is_link -%}
                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                {%- else -%}
                  {%- if part.title == paginate.current_page -%}
                    <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                  {%- else -%}
                    <span>{{ part.title }}</span>
                  {%- endif -%}
                {%- endif -%}
              </li>
            {%- endfor -%}

            {%- if paginate.next -%}
              <li>
                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"/>
                  </svg>
                </a>
              </li>
            {%- endif -%}
            </ul>
          </nav>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>
