<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% style %}
      :root {

        --font-size-base : 16px;
        {% if settings.type_base_family == 'google' %}
          {%- liquid 
            assign base_font = settings.typo_google_body_font 
            assign heading_font = settings.typo_google_headings_font
            assign heading1_font = settings.typo_google_headings1_font
          -%}
          --font-stack-body: {{ base_font }};
          --font-style-body: normal;
          --font-weight-body: {{ settings.typo_body_text_font_weight }};
          --font-stack-heading:{{ heading_font }};
          --font-style-heading: normal;
          --font-weight-heading: {{ settings.typo_heading_font_weight }};
          --font-stack-heading-special: {{ heading1_font }};
          --font-style-heading-special: normal;
          --font-weight-heading-special: {{ settings.typo_heading1_font_weight }};
        {% else %}  
          --font-stack-body: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
          --font-style-body: {{ settings.type_body_font.style }};
          --font-weight-body: {{ settings.type_body_font.weight }}; 
          --font-stack-heading: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
          --font-style-heading: {{ settings.type_header_font.style }};
          --font-weight-heading: {{ settings.type_header_font.weight }};
          --font-stack-heading-special: {{ settings.type_header1_font.family }}, {{ settings.type_header1_font.fallback_families }};
          --font-style-heading-special: {{ settings.type_header1_font.style }};
          --font-weight-heading-special: {{ settings.type_header1_font.weight }};
        {% endif %}

        --color-price: {{ settings.color_price }};
        --color-borders: {{ settings.color_borders }};

        --color-primary: {{ settings.color_primary }};
        
        --color-heading: {{ settings.color_heading }};
        --color-text: {{ settings.color_text }};
        --color-link-disable: #8c8c8c;
        --color-disabled: #D9D9D9;
        --color-disabled-border: #D9D9D9;
        
        --color-btn-primary-text: {{ settings.color_btn_primary_text }};
        --color-btn-primary-text-hover: {{ settings.color_btn_primary_text_hover }};
        --color-btn-primary-background: {{ settings.color_btn_primary_background }};
        --color-btn-primary-background-hover: {{ settings.color_btn_primary_background_hover }};
        --color-btn-primary-border: {{ settings.color_btn_primary_border }};
        --color-btn-primary-border-hover: {{ settings.color_btn_primary_border_hover }};

        --color-btn-secondary-text: {{ settings.color_btn_secondary_text }};
        --color-btn-secondary-text-hover: {{ settings.color_btn_secondary_text_hover }};
        --color-btn-secondary-background: {{ settings.color_btn_secondary_background }};
        --color-btn-secondary-background-hover: {{ settings.color_btn_secondary_background_hover }};
        --color-btn-secondary-border: {{ settings.color_btn_secondary_border }};
        --color-btn-secondary-border-hover: {{ settings.color_btn_secondary_border_hover }};
        --color-link: {{ settings.color_link }};
        --color-link-hover: {{ settings.color_link_hover }};
        
        --color-background: {{ settings.color_background }};

        --color-form-message-success-text: #629E7B;
        --color-form-message-success-background: #CDE7D8;
        --color-form-message-success-border: #CDE7D8;

        --color-form-message-error-text: #C22C2C;
        --color-form-message-error-background: #FFB8C9;
        --color_form_message_error_border: #FFB8C9;
      }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-social.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>
  </body>
</html>
