{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{% assign footerWidth = 'container' %}
{% if section.settings.footer_width == 'fullwidth' %}
  {% assign footerWidth = 'container-fluid' %}
{% endif %}

<div class="middle-footer">
  {%- if section.blocks.size > 0 -%}
    <div class="{{ footerWidth }}">
      <div class="row">
        {%- for block in section.blocks -%}
          <div class="type-{{ block.type }} footer-block position-{{ forloop.index }}{% if block.type == 'link_list' and block.settings.menu == blank %} content-none{% endif %}">
            {%- if block.settings.enable_toggle_mobile -%}
              {%- if block.type == 'link_list' and block.settings.heading != blank and block.settings.menu != blank -%}
                <div class="accordion{% if block.settings.enable_toggle_mobile %} show-toggle-mobile{% endif %}" {{ block.shopify_attributes }}>
                  <details>
                    <summary><h2 class="h4 accordion__title">{{ block.settings.heading | escape }}</h2><span class="icon-download"></span></summary>
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                              {{ link.title }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </details>
                </div>
              {%- endif -%}
            {%- endif -%}

            <div class="{% if block.type == 'link_list' and block.settings.heading != blank %} footer-block--menu{% if block.settings.enable_toggle_mobile %} show-toggle-mobile{% endif %}{% endif %}" id="block-{{ block.id }}" {{ block.shopify_attributes }}>
              {% liquid 
              case block.type
                when 'text'
                  render 'footer-text', block: block 
                when 'link_list'
                  if block.settings.menu != blank and block.settings.heading != blank 
                    render 'footer-link-list', block: block 
                  endif 
                when 'image'
                  render 'footer-image', block: block
                when 'newsletter'
                  render 'footer-newsletter', block: block 
                when 'socials'
                  render 'footer-social', block: block
                when 'horizontal-link-list'
                  render 'footer-horizontal-link-list', block: block
                when 'payment'
                  render 'footer-payment', block: block
                endcase 
              %}
            </div>
          </div>
          {% style %}
            .middle-footer .footer-block.position-{{ forloop.index }}{
              flex: 0 0 {{ block.settings.width_mobile }}%;
              max-width: {{ block.settings.width_mobile }}%;
            }
            @media (min-width: 768px){
              .middle-footer .footer-block.position-{{ forloop.index }}{
                flex: 0 0 {{ block.settings.width_tablet }}%;
                max-width: {{ block.settings.width_tablet }}%;
              }
            }
            @media (min-width: 1025px){
              .middle-footer .footer-block.position-{{ forloop.index }}{
                flex: 0 0 {{ block.settings.width }}%;
                max-width: {{ block.settings.width }}%;
              }
            }
          {% endstyle %}
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
</div>
{% if section.settings.background_color != blank %}
  {% style %}
    .middle-footer{
      background-color: {{ section.settings.background_color }};
    }
  {% endstyle %}
{% endif %}
{% schema %}
{
  "name": "Footer middle",
  "blocks": [
    {
      "type": "link_list",
      "name": "Vertical link list",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Vertical link list",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        },
        {
          "type": "checkbox",
          "label": "Show toggle on mobile",
          "default": true,
          "id": "enable_toggle_mobile"
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width(desktop)",
          "default": 25,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_tablet",
          "label": "Width(tablet)",
          "default": 50,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_mobile",
          "label": "Width(mobile)",
          "default": 100,
          "unit": "%",
          "min": 0,
          "max": 100
        }
      ]
    },
    {
      "type": "horizontal-link-list",
      "name": "Horizontal link list",
      "settings": [
        {
          "type": "header",
          "content": "Specific settings"
        },
        {
          "type": "text",
          "id": "heading_content",
          "label": "Heading content"
        },
        {
          "type": "link_list",
          "id": "navigation",
          "label": "Choose footer menu",
          "default": "footer"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width(desktop)",
          "default": 25,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_tablet",
          "label": "Width(tablet)",
          "default": 50,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_mobile",
          "label": "Width(mobile)",
          "default": 100,
          "unit": "%",
          "min": 0,
          "max": 100
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "textarea",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width(desktop)",
          "default": 25,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_tablet",
          "label": "Width(tablet)",
          "default": 50,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_mobile",
          "label": "Width(mobile)",
          "default": 100,
          "unit": "%",
          "min": 0,
          "max": 100
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "HTML content"
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width(desktop)",
          "default": 25,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_tablet",
          "label": "Width(tablet)",
          "default": 50,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_mobile",
          "label": "Width(mobile)",
          "default": 100,
          "unit": "%",
          "min": 0,
          "max": 100
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter subscribe",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.footer.settings.header__1.content",
          "info": "t:sections.footer.settings.header__1.info"
        },
        {
          "type": "text",
          "id": "newsletter_heading",
          "default": "Newsletter",
          "label": "t:sections.footer.settings.newsletter_heading.label"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Signup to receive information about new products"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Common settings"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social media icons"
        },
        {
          "type": "select",
          "id": "social_alignment",
          "label": "Social media alignment on desktop and tablet",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width(desktop)",
          "default": 25,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_tablet",
          "label": "Width(tablet)",
          "default": 50,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_mobile",
          "label": "Width(mobile)",
          "default": 100,
          "unit": "%",
          "min": 0,
          "max": 100
        }
      ]
    },
    {
      "type": "socials",
      "name": "Social media",
      "settings": [
        {
          "type": "header",
          "content": "Specific settings"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment on tablet,desktop",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width(desktop)",
          "default": 25,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_tablet",
          "label": "Width(tablet)",
          "default": 50,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_mobile",
          "label": "Width(mobile)",
          "default": 100,
          "unit": "%",
          "min": 0,
          "max": 100
        }
      ]
    },
    {
      "type": "payment",
      "name": "Payment image",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width(desktop)",
          "default": 25,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_tablet",
          "label": "Width(tablet)",
          "default": 50,
          "unit": "%",
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "width_mobile",
          "label": "Width(mobile)",
          "default": 100,
          "unit": "%",
          "min": 0,
          "max": 100
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Layout settings"
    },
    {
      "type": "select",
      "id": "footer_width",
      "label": "Footer width",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "fullwidth",
          "label": "Fullwidth"
        }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    }
  ]
}
{% endschema %}
