<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'list-image-logo.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'list-image-logo.css' | asset_url | stylesheet_tag }}</noscript>
{% render 'gp-section-style' %}
<div data-section-id="{{ section.id }}" data-section-type="gp-image-with-content" class=" container gp-section-wrapper {% unless section.settings.fullwidth %}custom_width{% endunless %}">
  <div class="gp-section-inner">
    <div class="list-image-wrapper">
        {% if section.settings.heading != blank %}
          <h2 class="{{ section.settings.text_align_title }} heading-2">{{ section.settings.heading }}</h2>
        {% endif %}
        {% if section.blocks.size > 0 %}
          <slider-component class="list-image">
              <ul class="grid slider slider--mobile">
                  {% for block in section.blocks %}
                      <li class="grid__item--3-col grid__item--4-col-tablet grid__item--4-col-desktop slider__slide slide-item position-{{ forloop.index }} {% if forloop.index == 1 %} active{% endif %}" data-position="{{ forloop.index }}">
                          <div class="slide-content-wrapper">
                            {% if  block.settings.img_logo != blank %}
                              <img
                                src="{{ block.settings.img_logo | image_url: width: 533 }}"
                                srcset="{%- if block.settings.img_logo.width >= 375 -%}{{ block.settings.img_logo | image_url: width: 375 }} 375w,{%- endif -%}
                                  {%- if block.settings.img_logo.width >= 750 -%}{{ block.settings.img_logo | image_url: width: 750 }} 750w,{%- endif -%}
                                  {%- if block.settings.img_logo.width >= 1100 -%}{{ block.settings.img_logo | image_url: width: 1100 }} 1100w,{%- endif -%}
                                  {%- if block.settings.img_logo.width >= 1500 -%}{{ block.settings.img_logo | image_url: width: 1500 }} 1500w,{%- endif -%}
                                  {%- if block.settings.img_logo.width >= 1780 -%}{{ block.settings.img_logo | image_url: width: 1780 }} 1780w,{%- endif -%}
                                  {%- if block.settings.img_logo.width >= 2000 -%}{{ block.settings.img_logo | image_url: width: 2000 }} 2000w,{%- endif -%}
                                  {%- if block.settings.img_logo.width >= 2800 -%}{{ block.settings.img_logo | image_url: width: 2800 }} 2800w{%- endif -%}"
                                sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                                alt="{{ block.settings.img_logo.alt | escape }}"
                                loading="lazy"
                                width="{{ block.settings.img_logo.width }}"
                                height="{{ block.settings.img_logo.height }}"
                                class="motion-reduce" 
                              />
                            {% else %}
                              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                            {% endif %}
                          </div>
                      </li>
                  {% endfor %}
              </ul>
              <div class="slider-counter">
                <span class="slider-counter--current"></span>
                <span class="slider-counter--total"></span>
              </div>
              <div class="slider-dots">
              </div>
          </slider-component>
        {% endif %}
    </div>
  </div>
</div>
{% style %}
  {% unless section.settings.fullwidth %}
    {% if section.settings.custom_width != blank %}
      [data-section-id="{{ section.id }}"].custom_width .list-image-wrapper{
        max-width: {{ section.settings.custom_width }}px;
        margin: auto;
      }
    {% endif %}
  {% endunless %}
{% endstyle %}
{% schema %}
  {
    "name": "Images list",
    "class":"padding-section",
    "settings": [
      {
        "type": "text",
        "id":"heading",
        "label":"Heading",
        "default": "COMPANY PARTNERS"
      },
      {
        "type": "select",
        "id": "text_align_title",
        "label": "Text alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Common settings"
      },
      {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Fullwidth",
        "default": false
      },
      {
        "type": "text", 
        "id": "custom_width",
        "label": "Custom width block",
        "info": "Unit: px. Leave it to blank to get default width. only active when unchecked checkbox Fullwidth ",
        "default": "1350"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background",
        "default": "#FFF"
      }
    ],
    "blocks" : [
      {
        "type": "image-logo",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "img_logo",
            "label": "Logo"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Images list",
        "blocks": [
          {
            "type": "image-logo"
          }, 
          {
            "type": "image-logo"
          }, 
          {
            "type": "image-logo"
          }, 
          {
            "type": "image-logo"
          }
        ]
      }
    ]
  }
{% endschema %}